* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #ddd;
}

body {
    font-family: monospace;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    background-color: #1a1b26;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #24283b;
    padding-bottom: 10px;
}

.container {
    padding: 4% 4%;
}

ul {
  margin-bottom: 20px;
  padding-left: 20px;
  margin-left: 0;
}

li {
    font-size: 16px;
    margin-bottom: 6px;
}

textarea {
    width: 100%;
    min-height: 300px;
    padding: 10px;
    font-family: monospace;
    font-size: 16px;
    border: 1px solid #24283b;
    border-radius: 6px;
    background-color: #1a1b26;
    resize: vertical;
    margin-bottom: 16px;
}

textarea:focus {
    outline: 2px solid #292e42;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    background-color: #292e42;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: monospace;
    border: none;
}

.btn:hover {
    background-color: #24283b;
}

p,
pre {
    font-size: 16px;
}

code {
    font-family: monospace;
}

a {
    color: #61afef;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    background-color: #292e42;
    border-radius: 6px;
    padding: 10px 20px;
    border: none;
    display: none;
}

@media (max-width: 550px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .actions {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: 10px;
    }
}